$primary-color: #282c34;
$secondary-color: #61dafb;

$white: #fff;
$lightest-grey: #fafafa;
$light-gray: #f4f4f4;
$dark-light-gray: #eeeeee;
$text-color: #212529;

$faint-blue: #8990a3;
$light-blue: #e4f4fc;
$medium-blue: #bee6fa;
$dark-blue: #2b6b8b;
$darkest-blue: #22546e;

$warning-yellow: #eb9b37;
$success-green: #9ec94a;

$light-pink: #ffeded;
$error-red: #ff0000;

$primary-button: #232a40;
$primary-button-hover: #138496;
