@import "index.scss";

.ChannelSelectorContainer {
    .SectionTitle {
        margin-left: 20px;
        margin-bottom: 16px;
        font-size: 12px;
        text-transform: uppercase;
        color: $faint-blue;
    
        @media (max-width: $breakpoint-medium) {
          margin-left: 0px;
          text-align: center;
        }
      }
      
  .ChannelSelectorList {
    display: block;

    li {
      margin-bottom: 8px;
      a {
        text-decoration: none;
        display: block;
        border-radius: 8px;
        text-decoration: none;
        padding: 10px 1rem;
        font-weight: 600;
        font-size: 0.85rem;
        background-color: transparent;
        color: $text-color;

        &:hover {
          background-color: $light-blue;
        }

        @media (max-width: $breakpoint-medium) {
          border-radius: 0px;
        }
      }

      .SelectedLink {
        background-color: $medium-blue;

        &:hover {
          background-color: $medium-blue;
        }
      }
    }
  }
}
